/** award-section **/

.award-section {
  position: relative;
}

.award-section .table-outer {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.award-section .award-table {
  min-width: 1290px;
  width: 100%;
}

.award-section .award-table tr {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0px;
  justify-content: space-between;
}

.award-section .award-table tr td {
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--title-color);
  width: auto;
  min-width: 0;
  flex: 1 1 0;
  padding: 0.75em 0.5em;
  word-break: break-word;
  box-sizing: border-box;
}

.award-section .award-table tr td h3 {
  display: block;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 500;
  margin: 0;
}

.award-section .award-table tr td h3 a {
  display: inline-block;
  color: var(--title-color);
  text-decoration: none;
  transition: color 0.2s;
}

.award-section .award-table tr td h3 a:hover,
.award-section .award-table tr td h3 a:focus {
  color: var(--primary-color, #007bff);
  outline: none;
}

.award-section .award-table tr td span {
  color: #6A6A6A;
}

.award-section .award-table tr th {
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 600;
  color: var(--title-color);
  width: auto;
  min-width: 0;
  flex: 1 1 0;
  padding: 0.75em 0.5em 0 0.75em 0.05em;
  word-break: break-word;
  box-sizing: border-box;
  text-align: left;
}

.award-section .award-table tr th h3 {
  display: block;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  margin: 0;
}


/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
  .award-section {
    padding: 70px 0px;
  }

  .award-section.pt_70 {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 599px) {}

@media only screen and (max-width: 499px) {}

/* Responsive adjustments */
@media (max-width: 900px) {
  .award-section .award-table tr td {
    font-size: 0.95rem;
    padding: 0.6em 0.4em;
  }

  .award-section .award-table tr td h3 {
    font-size: 1.2rem;
  }

  .award-section .award-table tr th {
    font-size: 0.95rem;
    padding: 0.6em 0.4em;
  }

  .award-section .award-table tr th h3 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .award-section .award-table tr {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 0;
  }

  .award-section .award-table tr td {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.5em 0;
  }

  .award-section .award-table tr td h3 {
    font-size: 1rem;
  }

  .award-section .award-table tr th {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.5em 0;
    text-align: left;
  }

  .award-section .award-table tr th h3 {
    font-size: 0.95rem;
  }
}